.score {
  font-size: 10px;
}

.review-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#reviewSortBy {
  color: #8c195f;
  border-color: #8c195f;
}

#reviewSortBy:hover {
  color: white;
  border-color: #8c195f;
  background-color: #8c195f;
}

.comment-control {
  resize: none;
}

#reviews {
  max-height: 600px;
}
