.header-logo {
  height: 50px;
}

footer {
  background-color: #8c195f;
}

.product-card {
  height: 100%;
}

.product-link:hover .card {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.btn-primary {
  background-color: #8c195f;
  border-color: #8c195f;
}

.btn-primary:hover {
  background-color: #a0236e;
  border-color: #a0236e;
}

.score {
  display: inline-block;
  font-family: Wingdings;
  color: #ccc;
  position: relative;
}

.score::before,
.score::after {
  content: "\2605\2605\2605\2605\2605";
  display: block;
}

.score::after {
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.score.s0::after {
  width: 0%;
}
.score.s1::after {
  width: 20%;
}
.score.s2::after {
  width: 40%;
}
.score.s3::after {
  width: 60%;
}
.score.s4::after {
  width: 80%;
}
.score.s5::after {
  width: 100%;
}
